body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    color: rgb(255, 255, 255);
    background:#030c16b4;
    background-size: 200% 200%;
    position: relative;
    animation: cambiar 10s ease-in-out infinite;
}
*{
	margin: 0;
	padding: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

video{
	width: 100%;
}

.content{
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
display:flex;
align-items: center;
justify-content: center;
}

h2{
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    text-shadow: 5px 5px 4px #054c75;
	font-family: 'Cherry Swash', cursive;
}
h3{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-shadow: 5px 5px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}
h4{
    color: rgb(199, 235, 250);
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-shadow: 5px 5px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

.Container{
   
    width: 100%;
    margin: auto;
    margin-top: 5px;
    overflow: hidden;
}

.main{
    width: 100%;
    float: left;
}

article{
    width: 100%;
    float: left;
    column-count: 2;
}

.Post article{
    margin-top: 10px;
    color: #ffffff;
    background-color: #054c7557;
    padding: 22px;
    line-height: 30px;
}
.Colum1{
    margin-top: 50px;
    color: #ffffff;
    padding: 22px;
    line-height: 40px;
}

.Colum1 ul{
    color: rgb(205, 236, 248);
    font-family: 'Cherry Swash', cursive;
    padding: 40px;
    margin-top: 20px;
    line-height: 30px;
}

.Post article p{
padding-top: 20px;
}


footer{
    overflow: hidden;
    width: 100%;
}
footer{
    text-align: justify;
     overflow: hidden;
     width: 100%;
     padding: 10px;
     border-top: 1px solid white;
     background-color: black;
 }
 
 footer p{
     color: white;
     text-align: center;
 }
 footer{
    width: 100%;
    color: white;
    background-color: black;
}